<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Quizzes</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .add-quiz-button {
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Quiz Application</a>
    <div class="collapse navbar-collapse justify-content-end">
        <form class="form-inline my-2 my-lg-0" th:action="@{/logout}" method="post">
            <button class="btn btn-outline-danger my-2 my-sm-0 logout-button" type="submit">Logout</button>
        </form>
    </div>
</nav>
<!-- Кнопка добавления викторины для пользователей с ролью ADMIN -->
<div th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
    <a href="/admin/addQuiz" class="btn btn-primary add-quiz-button">Add Quiz</a>
</div>

<div class="container mt-5">
    <h1 class="mb-4">Quizzes</h1>
    <table class="table table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="quiz : ${quizzes}">
            <td th:text="${quiz.title}"></td>
            <td th:text="${quiz.description}"></td>
            <td>
                <a class="btn btn-primary" th:href="@{/quiz/{id}(id=${quiz.id})}">View</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<!-- JavaScript для вывода роли пользователя в консоль -->
<script th:inline="javascript">
    /*<![CDATA[*/
    var authorities = /*[[${#authentication.principal.authorities}]]*/ '[]';
    console.log('User authorities:', authorities);
    /*]]>*/
</script>

</body>
</html>
